<div class="aa--flex aa--items-center aa--justify-around aa--h-20 aa--m-auto">

  <div class="aa--inline-flex aa--items-center">

    <fa-icon [icon]="faBriefcase"
             size="2x"
             class="aa--me-3 aa--text-blue-600" />

    <div class="aa--text-black aa--text-xl aa--font-bold aa--me-5">Job Pilot</div>

    <aa-toolbar-search (selectedcountryChange)="onSelectedCountryChange($event)"
                       (searchTermChange)="onSearchTermChange($event)" />

  </div>

  <aa-toolbar-buttons />

</div>