<div class="aa--flex">
  <div class="aa--relative">
    <div
      class="aa--absolute aa--inset-y-0 aa--start-0 aa--flex aa--items-center aa--ps-3.5 aa--pointer-events-none"
    >
      <fa-icon [icon]="faMagnifyingGlass" size="1x" class="aa--text-blue-600" />
    </div>
    <input
      [formControl]="searchTerm"
      type="search"
      id="default-search"
      class="aa--block aa--w-80 aa--p-4 aa--ps-10 aa--text-sm aa--text-gray-900 aa--border aa--border-gray-300 aa--bg-gray-50 aa--h-12"
      placeholder="Job title, keyword, company"
    />
  </div>
</div>
