<header class="aa--h-auto aa--font-sans aa--text-lg aa--bg-gray-100">
  <nav>
    <ul class="aa--ml-32 aa--pl-64 aa--inline-flex aa--justify-items-auto aa--gap-5 aa--text-gray-500">
      <li class="active [&.active]:aa--true [&.active]:aa--border-b-2 [&.active]:aa--border-blue-700 [&.active]:aa--font-semibold [&.active]:aa--text-blue-700 hover:aa--text-orange-500"><a href="#">
        <button class="aa--h-full aa--w-auto aa--py-3 aa--px-2">Home</button>
      </a></li>
      <li class="active:aa--border-b-2 active:aa--border-blue-700 active:aa--font-semibold active:aa--text-blue-700 hover:aa--text-orange-500"><a href="#">
        <button class="aa--h-full aa--w-auto aa--py-3 aa--px-2">Find Job</button>
      </a></li>
      <li class="active:aa--border-b-2 active:aa--border-blue-700 active:aa--font-semibold active:aa--text-blue-700 hover:aa--text-orange-500"><a href="#">
        <button  class="aa--h-full aa--w-auto aa--py-3 aa--px-2">Employers</button>
      </a></li>
      <li class="active:aa--border-b-2 active:aa--border-blue-700 active:aa--font-semibold active:aa--text-blue-700 hover:aa--text-orange-500"><a href="#">
        <button  class="aa--h-full aa--w-auto aa--py-3 aa--px-2">Candidates</button>
      </a></li>
      <li class="active:aa--border-b-2 active:aa--border-blue-700 active:aa--font-semibold active:aa--text-blue-700 hover:aa--text-orange-500"><a href="#">
        <button  class="aa--h-full aa--w-auto aa--py-3 aa--px-2">Pricing Plans</button>
      </a></li>
      <li class="active:aa--border-b-2 active:aa--border-blue-700 active:aa--font-semibold active:aa--text-blue-700 hover:aa--text-orange-500"><a href="#">
        <button  class="aa--h-full aa--w-auto aa--py-3 aa--px-2">Customer Supports</button>
      </a></li>
    </ul>
  </nav> 
</header>