<footer class="footer aa--pb-[8px] aa--bg-[#141414] aa--text-[#5f5d5d] aa--pt-5 aa--font-sans aa--mx-auto">
   <!--- <div class="footer_content">
    @for(link of links; track link.title){
        <aa-links linkTitle="{{link.title}}" />
        @for(contentLink of link.contentLinks; track contentLink.title){
            <a href={{contentLink.href}}>{{contentLink.title}}</a>
        }
   }-->
   <div class="footer_content aa--grid aa--gap-4 grid-cols-1 md:aa--grid-cols-[1fr_3fr] mx-auto md:mx-0 md:aa--gap-[80px] aa--mx-auto aa--mt-[80px] aa--max-w-[1350px]">
        <div class="aa--ml-4">
            <aa-company-info />
        </div>
        <div >
            <aa-links />
        </div>
    </div>
    <hr class="solid aa--mt-[70px] aa--border-t aa--border-[#3a3939] aa--w-[100%]" />
    <div class="footer__more-info aa--ml-4 aa--text-base aa--max-w-[1350px] md:aa--mx-auto aa--my-[15px] md:aa--flex md:aa--flex-row md:aa--justify-between aa--ml-4 aa--flex aa--flex-col aa--gap-3">
        <p class="aa--my-[5px]">&copy; 2021 JobPilot - Job Portal. All rights reserved.</p>
        <aa-footer-icons />
    </div>
</footer>

