<div
  *ngIf="company; else loading"
  class="aa--text-start aa--px-8 aa--pt-6 aa--pb-8 aa--mb-4 aa--bg-gray-100 aa--w-full aa--max-w-2xl aa--border aa--rounded aa--border-gray-200"
>
  <h2 class="aa--text-black aa--text-2xl aa--font-bold aa--mb-4">{{ company.name }}</h2>

  <div class="aa--mb-4">
    <strong class="aa--text-gray-700">Website:</strong>
    <a [href]="company.website" class="aa--text-blue-500 hover:aa--underline">
      {{ company.website }}
    </a>
  </div>

  <div class="aa--mb-4">
    <strong class="aa--text-gray-700">VAT:&nbsp;</strong>
    <span class="aa--text-gray-900">{{ company.vat }}</span>
  </div>

  <div class="aa--mb-4">
    <strong class="aa--text-gray-700">Phone Number:&nbsp;</strong>
    <span class="aa--text-gray-900">{{ company.phoneNumber }}</span>
  </div>

  <div class="aa--mb-4">
    <strong class="aa--text-gray-700">Address:</strong>
    <span class="aa--text-gray-900">
      {{ company.address.street }} {{ company.address.streetNumber }},
      {{ company.address.city }},
      {{ company.address.country }}
    </span>
  </div>

  <div class="aa--flex aa--gap-4">
    <button
      class="aa--bg-blue-500 aa--text-white aa--py-2 aa--px-4 aa--rounded hover:aa--bg-blue-600"
    >
      Edit
    </button>
    <button
      class="aa--bg-red-500 aa--text-white aa--py-2 aa--px-4 aa--rounded hover:aa--bg-red-600"
    >
      Delete
    </button>
  </div>
</div>

<!-- Loading placeholder -->
<ng-template #loading>
  <p class="aa--text-gray-700">Loading company details...</p>
</ng-template>
