.content {
  height: 100%;
  width: 100%;

  .main-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    main {
      position: relative;
      z-index: 0;
      margin-top: 4rem;
      flex: 1 0 auto;
      overflow: hidden;
      padding-bottom: 4rem;
      padding-left: 1.5rem !important;
      padding-right: 1.5rem !important;
    }
  }
}
