<div
  class="aa--w-full aa--max-w-2xl aa--ml-64 aa--justify-items-center aa--border aa--rounded aa--border-gray-200"
>
  <div class="aa--ml-40 aa--text-black aa--text-2xl aa--align-text-top aa--font-bold">
    Create a new company
  </div>
  <form class="bg-gray-400 aa--rounded aa--px-8 aa--pt-6 aa--pb-8 aa--mb-4 aa--gap-5">
    <div class="aa--mb-4">
      <label
        class="aa--block aa--text-gray-700 aa--text-lg aa--font-bold aa--mb-2"
        for="username"
      >
        Username
      </label>
      <input
        class="aa--appearance-none aa--border aa--rounded aa--w-full aa--py-2 aa--px-3 aa--text-gray-700 aa--leading-tight focus:aa--outline-none focus:aa--shadow-outline"
        id="username"
        type="text"
        placeholder="Username"
      />
    </div>
  </form>
</div>
